<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macaku.center.mapper.TeamPersonalOkrMapper">

    <select id="getTeamPersonalOkrList" parameterType="java.lang.Long" resultType="com.macaku.center.domain.vo.TeamPersonalOkrVO">
        select
            tp.id, o.id, tp.team_id, t.team_name, o.is_over, tp.create_time, tp.update_time, tp.core_id
        from user u, team_okr t, okr_core o, team_personal_okr tp
        where
            u.id = #{id,jdbcType=BIGINT}
          and u.is_deleted = 0 and t.is_deleted = 0 and o.is_deleted = 0 and tp.is_deleted = 0
          and u.id = tp.user_id
          and tp.core_id = o.id
          and tp.team_id = t.id
        order by o.is_over, o.create_time desc
    </select>

    <select id="getTeamMembers" parameterType="java.lang.Long" resultType="com.macaku.center.domain.vo.TeamMemberVO">
        select
            tp.user_id, tp.create_time, u.nickname, u.email, u.phone, u.photo
        from
            team_okr t, team_personal_okr tp, user u
        where
            t.id = #{id,jdbcType=BIGINT}
          and t.is_deleted = 0 and tp.is_deleted = 0 and u.is_deleted = 0
          and t.id = tp.team_id
          and tp.user_id = u.id
          and u.id != t.manager_id
        order by tp.create_time desc
    </select>
</mapper>
