<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macaku.core.mapper.OkrCoreMapper">

    <resultMap id="DeadlineEvent" type="com.macaku.core.domain.po.event.DeadlineEvent">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="firstQuadrantDeadline" column="f_deadline" jdbcType="TIMESTAMP"/>
        <result property="secondQuadrantId" column="s_id" jdbcType="BIGINT"/>
        <result property="secondQuadrantCycle" column="second_quadrant_cycle" jdbcType="INTEGER"/>
        <result property="secondQuadrantDeadline" column="s_deadline" jdbcType="TIMESTAMP"/>
        <result property="thirdQuadrantId" column="t_id" jdbcType="BIGINT"/>
        <result property="thirdQuadrantCycle" column="third_quadrant_cycle" jdbcType="INTEGER"/>
        <result property="thirdQuadrantDeadline" column="t_deadline" jdbcType="TIMESTAMP"/>

    </resultMap>

    <select id="getDeadlineEvents" resultMap="DeadlineEvent">
        select
            o.id,
            f.deadline f_deadline,
            s.id s_id, s.deadline s_deadline, o.second_quadrant_cycle,
            t.id t_id, t.deadline t_deadline, o.third_quadrant_cycle
        from
            okr_core o, first_quadrant f, second_quadrant s, third_quadrant t
        where
            o.is_over = 0 and o.id = f.core_id and o.id = s.core_id and o.id = t.core_id
    </select>

</mapper>
