<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macaku.core.mapper.PriorityNumberOneMapper">

    <resultMap id="BaseResultMap" type="com.macaku.core.domain.po.inner.PriorityNumberOne">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="secondQuadrantId" column="second_quadrant_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isCompleted" column="is_completed" jdbcType="BIT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,second_quadrant_id,content,
        is_completed,version,is_deleted,
        create_time,update_time
    </sql>
</mapper>
